@media (max-width: 970px) {

    .logo p {
        font-size: 1rem;
    }

    /* Estilo Menu */
    .menu {
        display: none;
    }

    .inteface-menu {
        display: flex;
    }

    .menu-list {
        display: flex;
        flex-direction: row-reverse;

    }

    header nav.menu-mobile ul {
        list-style-type: none;
    }

    header nav.menu ul li a {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 36px;
    }

    .button {
        padding: 7px 30px;
        border-radius: 6px;
    }

    .btn-menu-mobile,
    .menu-mobile {
        display: block;
    }

    /* Estilo Hero */

    .txt-hero p {
        border-left: 2px solid var(--cor-logo);
        font-size: 1rem;
        color: var(--cor-style-p);
        margin: 70px 0 70px 0;
        padding-left: 15px;
    }

    .button {
    color: var(--cor-accent);
}

    /* Estilo About */
    .about>.interface-about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about {
        padding: 10px 0;
    }

    .img-about img {
        width: 330px;
        height: 330px;
        padding: 25px;
    }

    .mestre {
        left: 75px;
        top: 20px;
        font-size: 1.8rem;
        width: 180px;
        height: 84px;
    }

    .txt-about {
        align-items: center;
        padding: 10px 30px 30px;

    }


    .txt-about .border {
        padding: 10px;
    }

    .txt-about .border p {
        border-left: 2px solid var(--cor-logo);
        padding-left: 16px;
        font-size: 0.8rem;
        margin: 0 0 20px 0;
    }

    /* ----------------  Metodologia ----------------  */
    .Metodoligia {
        background-color: var(--cor-primary-body);
        padding: 40px 10px;
    }

    .interface-meto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Metodoligia .card-meto {
        width: 300px;
        height: 188px;

    }

    /*----------------  Estilo Schedules ---------------- */

    .grid-schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 25px;
}

.info-adult {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.card-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-schedule p span {
    font-size: 0.9rem;
}

.card-adult,
.card-adult-night,
.kids-card,
.saturday-card,
.card-adult-nogi {  
    padding: 10px 0;
}

.card-cta .button {
    color: var(--cor-accent);
    padding: 7px 10px;
}
    /* ----------------  Estilo programa de treinamento ----------------  */
    .programa-tr {
        padding: 30px;
    }

    .programa-tr article {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }

    .programa-tr article #iniciante,
    .programa-tr article #avancado,
    .programa-tr article #infantil,
    .programa-tr article #competicao {
        grid-column: unset;
        grid-row: unset;
        height: 250px;
        box-shadow: none;
    }

    /* ----------------  Estilo depoimentos ----------------  */
    .depoimentos {
        background-color: var(--cor-about);
        padding: 10px;
        position: relative;
        overflow: hidden;
    }

    /* ----------------  Estilo Depoimentos ----------------  */
    .depoimentos .box-depoimentos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px;
    }

    /* ---------------- Estilo CTA ----------------  */
    section .interface-cta {
        height: 700px;
    }

    .final-cta article {
        padding: 10px;
    }

    .button-cta {
        background: var(--cor-primary-body);
        color: var(--cor-accent);
        padding: 30px 110px;
        border-radius: 8px;
        text-decoration: none;
        transition: .5s;
    }

    .button-cta:hover {
        font-size: 1.2rem;
        opacity: .9;
        font-weight: bolder;
        box-shadow: -1px 8px 25px var(--cor-master-txt);
    }

    /* ---------------- Estilo Footer ---------------- */

    footer {
        background-color: var(--cor-about);
        height: 650px;
    }

    footer .interface-footer {
        padding: 60px 20px;
    }

    footer .interface-footer .txt-footer .txt-footer-mobile h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

    }

    footer .interface-footer a {
        color: var(--cor-accent);
        text-decoration: none;
    }

    footer .interface-footer .txt-footer h3 {
        display: none;
    }

    .box-maps {
        display: none;
        position: fixed;
        top: 0;
        left: 100%;
        width: 700px;
        height: 800px;
        background-color: var(--cor-primary-body);
        opacity: 0.98;
        text-align: center;
        padding: 32px 0;
        z-index: 999;
        pointer-events: none;
    }

        .box-maps.active {
            left: 50%;
            transform: translateX(-50%);
            pointer-events: auto;
        }
    
        .box-maps iframe {
            width: 100%;
            height: 100%;
        }

}