@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif !important;
}


:root {
    --cor-primary-body: #0E0E0E;
    --cor-primary: #00FF88;
    --cor-secundary: #0F3D2E;
    --cor-tertiary: #1A1A1A;
    --cor-neutral: #0D0D0D;
    --cor-accent: #ffffff;
    --cor-style: #94A3B8;
    --cor-button: linear-gradient(90deg, rgba(15, 61, 46, 1) 0%, rgba(0, 255, 136, 1) 100%);
    --cor-button-txt: #004621;
    --cor-logo: #00FD87;
    --cor-style-p: #ADAAAA;
    --cor-about: #131313;
    --cor-master: #A4FFB9;
    --cor-master-txt: #004621;
}

body {
    background-color: var(--cor-primary-body);
}

.inteface-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo p {
    font-family: "Comfortaa", sans-serif !important;
    font-size: 1.3rem;
}

.logo span {
    color: var(--cor-logo);
    letter-spacing: -4px;
    font-family: "Comfortaa", sans-serif !important;
    font-size: 2.2rem;
}

header {
    background-color: var(--cor-primary-body);
    color: var(--cor-accent);
}

.button {
    background: var(--cor-button);
    color: var(--cor-button-txt);
    padding: 10px 50px;
    text-decoration: none;
    transition: .5s;
}

.button:hover {
    opacity: .6;
    color: var(--cor-accent);
    font-weight: bolder;
}

header.inteface-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 56px;
}

header nav.menu a {
    color: var(--cor-style);
    text-decoration: none;
    font-size: 1rem;
}

header nav.menu a:hover {
    color: var(--cor-accent);
}

/* Estilo hero */

section.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

section.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.hero>div.interface-hero {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.img-hero {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-hero img {
    height: 100%;
    object-fit: cover;
}

.txt-hero {
    position: relative;
    z-index: 2;
}

.txt-hero h1 {
    color: var(--cor-accent);
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 35px;
}

.txt-hero p {
    border-left: 2px solid var(--cor-logo);
    font-size: 1rem;
    color: var(--cor-style-p);
    margin: 16px 0 46px 0;
    padding-left: 15px;
}

.txt-hero span {
    color: var(--cor-logo);
}

.txt-hero .button {
    box-shadow: -1px 4px 11px var(--cor-button-txt);
}

/* Estilo about */

.about {
    background-color: var(--cor-about);
    padding: 128px 40px 0 40px;
}

.about .interface-about {
    display: flex;
    align-items: center;
}

.about .interface-about {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
}

.about .interface-about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-left: 3px solid var(--cor-logo);
    border-top: 3px solid var(--cor-logo);
}


.img-about {   
    position: relative;
}

.mestre {
    position: absolute;
    bottom: 0;
    left: 375px;
    top: 0;
    transform: translate(0%, -90%);
    background-color: var(--cor-master);
    color: var(--cor-master-txt);
    font-weight: bolder;
    font-size: 2rem;
    position: relative;
    z-index: 3;
    width: 200px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-about {
    align-items: center;
    padding: 40px;

}

.txt-about h2 {
    font-size: 2rem;
    color: var(--cor-accent);
}

.txt-about p {
    font-size: 1rem;
    color: var(--cor-style-p);
    margin: 40px 0 46px 0;

}

.txt-about .border {
    padding: 16px;
}

.txt-about .border p {
    border-left: 2px solid var(--cor-logo);
    padding-left: 16px;
    font-size: 0.8rem;
    margin: 0 0 20px 0;
    line-height: 25px;
}

.txt-about .border span {
    color: var(--cor-accent);
}

/* Estilo Metodologia */

.Metodoligia {
    background-color: var(--cor-primary-body);
    padding: 80px 28px 50px 40px;
}

.interface-meto {
    display: flex;
    align-items: center;
    gap: 60px;
}

.Metodoligia .card-meto {
    width: 352px;
    height: 208px;

}

.Metodoligia .card-meto i {
    color: var(--cor-logo);
    font-size: 1.8rem;

}

.Metodoligia .card-meto h3 {
    color: var(--cor-accent);
    padding: 20px 0;
}

.Metodoligia .card-meto p {
    color: var(--cor-style-p);
    font-size: 0.8rem;
}

/* Estilo Medalhas */

.medalhas {
    background-color: var(--cor-about);
    font-size: 0.8rem;
    padding: 40px 60px 50px 40px;
    color: var(--cor-accent);
}

.medalhas article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medalhas span {
    font-weight: 600;
    font-size: 2rem;
}

.box-green span {
    color: var(--cor-logo);
}

/* Estilo programa de treinamento */

.programa-tr {
    background-color: var(--cor-primary-body);
    padding: 60px;
}

.txt-tr {
    color: var(--cor-accent);
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}

.txt-tr h2 {
    font-size: 2rem;
}

.txt-tr span {
    color: var(--cor-logo);
}

.txt-tr p {    
    color: var(--cor-style-p);
    font-size: 0.7rem;
}

.programa-tr article {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 0;
    color: var(--cor-accent);
}

.programa-tr article p {
    padding: 10px 0;
    color: var(--cor-style-p);
    font-size: 0.8rem;
}

.programa-tr article .iniciante,
.programa-tr article .avancado,
.programa-tr article .infantil,
.programa-tr article .competicao {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
}

.programa-tr article .iniciante img,
.programa-tr article .avancado img,
.programa-tr article .infantil img,
.programa-tr article .competicao img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.programa-tr article .avancado img {
    object-position: center bottom;
}

.programa-tr article .iniciante h4,
.programa-tr article .avancado h4,
.programa-tr article .infantil h4,
.programa-tr article .competicao h4,
.programa-tr article .iniciante p,
.programa-tr article .avancado p,
.programa-tr article .infantil p,
.programa-tr article .competicao p {
    position: relative;
    z-index: 2;
}

.programa-tr article .iniciante::before,
.programa-tr article .avancado::before,
.programa-tr article .infantil::before,
.programa-tr article .competicao::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 100%);

    z-index: 1;
}

.programa-tr article .iniciante {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 292px;
}

.programa-tr article .avancado {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 292px;
}

.programa-tr article .infantil {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 292px;
}

.programa-tr article .competicao {
    grid-column: 3/4;
    grid-row: 1/3;
    height: 584px;
}

/* Estilo depoimentos */

.depoimentos {
    background-color: var(--cor-about);
    padding: 50px;
}

.txt-depoimentos h2 {
    font-size: 2rem;
    color: var(--cor-accent);
}

.txt-depoimentos h2 span {
    color: var(--cor-logo);
}

.depoimentos .box-depoimentos {
    display: flex;
    align-items: center;
    color: var(--cor-style-p);
    font-size: 0.6rem
}

.depoimentos .box-depoimentos h5 {
    font-family: "Comfortaa", sans-serif !important;
    color: var(--cor-logo);
    padding: 40px 0 15px 0;
}