@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif !important;
}


:root {
    --cor-primary-body: #0E0E0E;
    --cor-primary: #00FF88;
    --cor-secundary: #0F3D2E;
    --cor-tertiary: #1A1A1A;
    --cor-neutral: #0D0D0D;
    --cor-accent: #ffffff;
    --cor-style: #94A3B8;
    --cor-button: linear-gradient(90deg, rgba(15, 61, 46, 1) 0%, rgba(0, 255, 136, 1) 100%);
    --cor-button-txt: #004621;
    --cor-logo: #00FD87;
    --cor-style-p: #ADAAAA;
    --cor-about: #131313;
    --cor-master: #A4FFB9;
    --cor-master-txt: #004621;
    --cor-card: #262626;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-primary-body);
}

.inteface-menu,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo p {
    font-family: "Comfortaa", sans-serif !important;
    font-size: 1.3rem;
    white-space: nowrap;
}

.logo span {
    color: var(--cor-logo);
    letter-spacing: -4px;
    font-family: "Comfortaa", sans-serif !important;
    font-size: 2rem;
}

header {
    background-color: var(--cor-primary-body);
    color: var(--cor-accent);
}

.button {
    background: var(--cor-button);
    color: var(--cor-button-txt);
    padding: 10px 40px;
    text-decoration: none;
    transition: .5s;
}

.button:hover {
    opacity: .6;
    color: var(--cor-accent);
    font-weight: bolder;
}

header.inteface-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
}

header .menu ul li a {
    color: var(--cor-style);
    text-decoration: none;
    font-size: 1rem;
}

header .menu ul li a:hover {
    color: var(--cor-accent);
}

/* Estilo Menu Mobile */

.menu-mobile ul {
    list-style: none;
    padding: 64px 0;
}

.menu-mobile ul li a {
    color: var(--cor-logo);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 24px;
    display: block;
    transition: .2s;
}

.menu-mobile ul li a:hover {
    background-color: var(--cor-logo);
    color: var(--cor-neutral);
}

.btn-menu-mobile {
    display: none;
}

.btn-menu-mobile i {
    font-size: 2.8rem;
    color: var(--cor-primary);
}

.menu-mobile .bi-x-lg {
    font-size: 2rem;
    color: var(--cor-logo);
    padding: 24px;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-primary-body);
    opacity: 0.98;
    text-align: right;
    padding: 32px 0;
    z-index: 999;
    pointer-events: none;
}

.menu-mobile.open-menu {
    left: 0;
    pointer-events: initial;
    transition: .5s;
}

/* ----------------  Estilo hero ----------------  */

section.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

section.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hero>div.interface-hero {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.img-hero {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-hero img {
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
}

.txt-hero {
    position: relative;
    z-index: 2;
}

.txt-hero h1 {
    color: var(--cor-accent);
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 35px;
}

.txt-hero p {
    border-left: 2px solid var(--cor-logo);
    font-size: 1rem;
    color: var(--cor-style-p);
    margin: 16px 0 46px 0;
    padding-left: 15px;
}

.txt-hero span {
    color: var(--cor-logo);
}

.txt-hero .button {
    box-shadow: -1px 4px 11px var(--cor-button-txt);
    font-size: 0.9rem;
}

/* ----------------  Estilo about ----------------  */

.about {
    background-color: var(--cor-about);
    padding: 40px 40px 0 40px;
}

.about .interface-about {
    display: flex;
    align-items: center;
}

.about .interface-about {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}

.img-about {
    position: relative;
}

.img-about::before,
.img-about::after {
    content: '';
    position: absolute;
    background-color: var(--cor-logo);
}

.img-about::before {
    top: 0;
    left: 0;
    width: 3px;
    height: 15%;
}

.img-about::after {
    top: 0;
    left: 0;
    height: 3px;
    width: 20%;

}

.img-about img {
    width: 450px;
    height: 450px;
    padding: 20px;
}

.mestre {
    position: absolute;
    bottom: 0;
    left: 265px;
    top: 0;
    transform: translate(0%, -90%);
    background-color: var(--cor-master);
    color: var(--cor-master-txt);
    font-weight: bolder;
    font-size: 2rem;
    position: relative;
    z-index: 3;
    width: 200px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-about {
    align-items: center;
    padding: 30px 60px 60px;

}

.txt-about h2 {
    font-size: 2rem;
    color: var(--cor-accent);
}

.txt-about p {
    font-size: 1rem;
    color: var(--cor-style-p);
    margin: 30px 0 26px 0;

}

.txt-about .border {
    padding: 16px;
}

.txt-about .border p {
    border-left: 2px solid var(--cor-logo);
    padding-left: 16px;
    font-size: 0.8rem;
    margin: 0 0 20px 0;
}

.txt-about .border span {
    color: var(--cor-accent);
}

/* ----------------  Estilo Metodologia ----------------  */

.Metodoligia {
    background-color: var(--cor-primary-body);
    padding: 80px 40px;
}

.interface-meto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.Metodoligia .card-meto {
    width: 352px;
    height: 208px;

}

.Metodoligia .card-meto i {
    color: var(--cor-logo);
    font-size: 1.8rem;

}

.Metodoligia .card-meto h3 {
    color: var(--cor-accent);
    padding: 20px 0;
}

.Metodoligia .card-meto p {
    color: var(--cor-style-p);
    font-size: 0.8rem;
}

/* ----------------  Estilo Horário ----------------  */

.schedules {
    width: 100%;
    height: 100vh;
}

.interface-schedules {
    height: 100vh;
    margin-top: 10px;
    background-color: var(--cor-about);
}

.schedules-txt {
    height: 130px;
    padding: 40px 0;
    background-color: var(--cor-neutral);
    color: var(--cor-accent);
}

.schedules-txt h2 {
    font-size: 2rem;
    padding-left: 20px;
}

.schedules-txt h2 span {
    color: var(--cor-logo);
}

.grid-schedule {
    display: flex;
    padding: 20px;
    gap: 10px;

}

.grid-schedule h4 {
    color: var(--cor-accent);
}

.grid-schedule h5 {
    color: var(--cor-logo);
}

.grid-schedule p {
    color: var(--cor-style-p);
    text-align: center;
    font-size: 0.7rem;
}

.grid-schedule p span {
    font-size: 1.1rem;
}

.schedule-info {
    display: grid;
    background-color: var(--cor-about);
    flex: 1;
}

.info-adult .card-check {    
    padding: 20px 40px 0 0;
}

.card-check i {
    color: var(--cor-logo);
}

.card-check p {
    text-align: left;
}

.info-infantil h4 {
    color: var(--cor-logo);
    padding: 20px 0;
}

.info-infantil p {
    text-align: left;
}

.cards-infantil {
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 10px;
}

.cards-infantil span {
    font-size: 0.6rem;   
    color: var(--cor-style-p);
}

.card-little,
.card-kids {
    flex: 1;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor-card);
}
 
.card-cta {
    display: grid;
    justify-content: center;
    height: 100px;
    background-color: var(--cor-tertiary);
    padding: 8px;
    margin: 5px;
    gap: 8px;
}

.card-left {
    display: grid;
    flex: 1;
    gap: 10px;
}

.card-left p {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card-left h4,
.card-right h4 {
    padding-left: 10px;
}

.card-adult-night {
    background-color: var(--cor-card);
}

.card-adul {
    background-color: var(--cor-card);
}

.card-adult-nogi {
    background-color: var(--cor-card);
}

.card-right {
    display: grid;
    flex: 1;
    gap: 10px;
}

.card-right p {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.kids-card {
    background-color: var(--cor-tertiary);
}

.saturday-card {
    background-color: var(--cor-logo);
}


.saturday-card h4 {
    padding-left: 10px;
    color: var(--cor-button-txt);
}

.saturday-card p {
    color: var(--cor-master-txt);
}

/* ----------------  Estilo programa de treinamento ----------------  */

.programa-tr {
    background-color: var(--cor-primary-body);
    padding: 60px;
}

.txt-tr {
    color: var(--cor-accent);
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}

.txt-tr h2 {
    font-size: 2rem;
}

.txt-tr span {
    color: var(--cor-logo);
}

.txt-tr p {
    color: var(--cor-style-p);
    font-size: 0.7rem;
}

.programa-tr article {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 0;
    color: var(--cor-accent);
    gap: 10px;
}

.programa-tr article p {
    padding: 10px 0;
    color: var(--cor-style-p);
    font-size: 0.8rem;
}

.programa-tr article .box-programa {

    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
}

.programa-tr article .box-programa:hover {
    box-shadow: -1px 4px 11px var(--cor-master-txt);
}

.programa-tr article .box-programa img {
    filter: grayscale(100%);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.programa-tr article #avancado img {
    object-position: center bottom;
}

.programa-tr article .box-programa h4,
.programa-tr article .box-programa p {
    position: relative;
    z-index: 2;
}


.programa-tr article .box-programa::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.1) 100%);

    z-index: 1;
}

.programa-tr article #iniciante {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 292px;
}

.programa-tr article #avancado {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 292px;
}

.programa-tr article #infantil {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 292px;
}

.programa-tr article #competicao {
    grid-column: 3/4;
    grid-row: 1/3;
    height: 584px;
}

/* ----------------  Estilo depoimentos ----------------  */

.depoimentos {
    background-color: var(--cor-about);
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.depoimentos .txt-fundo p {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-family: "Comfortaa", sans-serif !important;
    color: rgba(255, 255, 255, 0.05);
    font-size: 200px;
    position: absolute;
    inset: 0;
    font-weight: bolder;
    opacity: 0.4;
    z-index: 0;
}

.depoimentos .interface-depoimento {
    position: relative;
    z-index: 1;
}

.txt-depoimentos h2 {
    font-size: 2rem;
    color: var(--cor-accent);
    margin-bottom: 30px;
}

.txt-depoimentos h2 span {
    color: var(--cor-logo);
}

.depoimentos .box-depoimentos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--cor-style-p);
    font-size: 0.65rem;
}

.depoimentos .box-depoimentos h5 {
    font-family: "Comfortaa", sans-serif !important;
    color: var(--cor-logo);
    padding: 20px 0 15px 0;
}

.box-depoimentos .box {
    background-color: var(--cor-primary-body);
    width: 280px;
    height: 220px;
    padding: 20px;

}

.box-depoimentos .box .box-txt {
    max-width: 100%;
}

.card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 4px;
}

/* ---------------- Estilo CTA ----------------  */

section .interface-cta {
    position: relative;
    height: 480px;
    background: linear-gradient(90deg, #0f3d2e, #006949, #009961, #00cb76, #00ff88);
    overflow: hidden;
}

.interface-cta .txt-cta p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.15);
    font-size: 30rem;
    transform: rotate(12deg);
    font-weight: 600;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.final-cta article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 128px;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.final-cta article span {
    color: var(--cor-accent);
}

.final-cta article h2 {
    font-size: 3rem;
    color: var(--cor-master-txt);
    margin-bottom: 30px;
}

.final-cta article p {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    color: var(--cor-master-txt);
    margin-bottom: 60px;
    text-shadow: 2px 2px 2px var(--cor-logo);
}

.button-cta {
    background: var(--cor-primary-body);
    color: var(--cor-accent);
    padding: 30px 50px;
    text-decoration: none;
    transition: .5s;
}

.button-cta:hover {
    font-size: 1.3rem;
    opacity: .9;
    font-weight: bolder;
    box-shadow: -1px 8px 25px var(--cor-master-txt);
}

/* ---------------- Estilo Footer ---------------- */

footer {
    background-color: var(--cor-about);
    height: 500px;
}

footer .interface-footer .txt-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-style-p);
    font-size: 0.8rem;
}

footer .interface-footer .txt-footer h3 {
    font-size: 3rem;
    padding: 40px;
}

footer .box-icons button {
    width: 46px;
    height: 46px;
    border-radius: 6px;
    margin: 20px;
}

footer .box-icons button i {
    font-size: 1.5rem;
    cursor: pointer;
}

footer .box-icons button i:hover {
    color: var(--cor-button-txt);
    opacity: .9;
}

footer .interface-footer a {
    color: var(--cor-accent);
    text-decoration: none;
}

footer .interface-footer a:hover {
    color: var(--cor-logo);
    opacity: .9;
}

.interface-footer .txt-footer .txt-footer-mobile h3 {
    display: none;
}

footer .interface-footer .btn-box-maps {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-accent);
    font-size: 1.5rem;
    margin: 20px auto 80px;
    cursor: pointer;
}

footer .interface-footer .btn-box-maps:hover {
    font-size: 2.5rem;
    opacity: .9;
}

/* Estilo footer maps */

.btn-box-maps {
    background: var(--cor-button);
    max-width: 520px;
    border-radius: 4px;
    box-shadow: -1px 4px 11px var(--cor-button-txt);
    padding: 2px;
}

.btn-box-maps i {
    font-size: 1.8rem;
    color: var(--cor-primary);
}

.btn-box-maps span {
    color: var(--cor-button-txt);
}

.btn-box-maps span:hover {
    color: var(--cor-accent);
}

.box-maps .bi-x-lg {
    font-size: 2rem;
    color: var(--cor-logo);
    padding: 24px;
}

.box-maps {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    background-color: var(--cor-primary-body);
    opacity: 0.95;
    text-align: center;
    padding: 32px 0;
    z-index: 999;
    pointer-events: none;
}

.box-maps.open-maps {
    display: block;
    left: 0;
    pointer-events: initial;
    transition: .8s;
}

/* fim footer maps */

.interface-footer .direitos {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cor-style-p);
    align-items: center;
    padding-top: 80px;
}